@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;600;700&display=swap');

* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Rubik', sans-serif;
    background-color: black;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    /* s'assurer que body prend toute la hauteur */
}

.slideshow-container {
    flex: 1 1 auto;
    position: relative;
    overflow: hidden;
    max-height: calc(100vh - 270px);
    /* pour ne pas dépasser sous le bandeau */
    display: flex;
    justify-content: center;
    align-items: center;
}

.slide-image {
    position: relative;
    width: auto;
    max-width: 100%;
    height: auto;
    max-height: 100%;
    /* ne dépasse pas la hauteur du conteneur */
    object-fit: contain;
    opacity: 0;
    transition: opacity 1s ease-in-out;
    display: none;
}

.slide-image.active {
    opacity: 1;
    display: block;
}

.start-banner {
    position: relative;
    height: 270px;
    background-color: #000091;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 36px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    padding: 0 20px;
}

.start-banner:hover {
    background-color: #02028896;
}

.hand-icon {
    position: absolute;
    right: 20px;
    bottom: 15px;
    width: 200px;
    height: auto;
    animation: float 3s ease-in-out infinite;
    pointer-events: none;
}

/* Animation de flottement verticale */
@keyframes float {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }
}